*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  LoginPage styling  */
form > div{
    margin-bottom: 20px;
}

/* header{ */
    /* background-color: rgb(134, 134, 160); */
    /* color: red; */
/* } */


/* About styling */
/* .about { */
    /* background-color: burlywood; */
    /* padding: 0 40px; */
/* }
.about_p {
    background-color: yellow;
}